mixin head(data)
  - const {photo, firstName, surname, position, addName} = data
  section.head
    img.head__photo(src=photo alt='main-photo')
    h1.head__title
      span.head__firstname= firstName
      span.head__surname= surname 
    p.head__position= position
    p.head__add-name= addName